Repository CS2103-AY1819S1-F10-4/main, pull requests merged in 2018-11, with the labels that each got.

#149 Reservations: Update UGDG
  docs/UserGuide.adoc
  docs/team/m4dkip.adoc
Labels: component.docs, status.ongoing

#142 Add diagram to section 4.6 of DG and Update UG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/SortMenuActivityDiagram.pptx
  docs/diagrams/SortMenuSequenceDiagram.pptx
  docs/images/SortMenuActivityDiagram.png
  docs/images/SortMenuSequenceDiagram.png
  docs/team/yican95.adoc
Labels: component.docs, status.review

#168 Ingredient management: Update UGDG
  docs/UserGuide.adoc
  docs/team/rebstan97.adoc
Labels: component.docs, status.ongoing

#192 Sales management: Update UGDG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/hyperionnkj.adoc
Labels: component.docs, status.ongoing

#200 Update User Guide
  docs/UserGuide.adoc
Labels: component.docs, status.review

#202 docs/UG: Fix quick reference issue
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/RecordSalesActivityDiagram.pptx
  docs/images/RecordSalesActivityDiagram.png
Labels: component.docs

#204 Hotfix: Fix panel swapping not showing correct browser panel
  src/main/java/seedu/restaurant/commons/events/ui/menu/JumpToItemListRequestEvent.java
  src/main/java/seedu/restaurant/commons/events/ui/reservation/JumpToReservationListRequestEvent.java
  src/main/java/seedu/restaurant/logic/commands/menu/SelectItemCommand.java
  src/main/java/seedu/restaurant/logic/commands/reservation/SelectReservationCommand.java
  src/main/java/seedu/restaurant/ui/MainWindow.java
  src/main/java/seedu/restaurant/ui/menu/ItemListPanel.java
  src/main/java/seedu/restaurant/ui/reservation/ReservationListPanel.java
  src/main/resources/view/default.html
  src/test/java/seedu/restaurant/logic/commands/menu/SelectItemCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/SelectReservationCommandTest.java
Labels: severity.high, type.bug

#198 MainApp: Update version to 1.4.0
  src/main/java/seedu/restaurant/MainApp.java
Labels: status.review

#214 v1.4 enhance ui
  src/main/java/seedu/restaurant/ui/MainWindow.java
Labels: component.ui, status.review

#218 v1.4 Annotate code for Reservations
  src/main/java/seedu/restaurant/commons/events/ui/reservation/DisplayReservationListRequestEvent.java
  src/main/java/seedu/restaurant/commons/events/ui/reservation/JumpToReservationListRequestEvent.java
  src/main/java/seedu/restaurant/commons/events/ui/reservation/ReservationPanelSelectionChangedEvent.java
  src/main/java/seedu/restaurant/logic/parser/reservation/AddReservationCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/DeleteReservationCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/EditReservationCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/ReservationParserUtil.java
  src/main/java/seedu/restaurant/logic/parser/reservation/SelectReservationCommandParser.java
  src/main/java/seedu/restaurant/model/Model.java
  src/main/java/seedu/restaurant/model/ModelManager.java
  src/main/java/seedu/restaurant/model/RestaurantBook.java
  src/main/java/seedu/restaurant/model/reservation/Name.java
  src/main/java/seedu/restaurant/model/reservation/NameContainsKeywordsPredicate.java
  src/main/java/seedu/restaurant/model/reservation/Pax.java
  src/main/java/seedu/restaurant/model/reservation/Remark.java
  src/main/java/seedu/restaurant/model/reservation/Reservation.java
  src/main/java/seedu/restaurant/model/reservation/UniqueReservationList.java
  src/main/java/seedu/restaurant/model/reservation/exceptions/DuplicateReservationException.java
  src/main/java/seedu/restaurant/model/reservation/exceptions/ReservationNotFoundException.java
  src/main/java/seedu/restaurant/storage/XmlSerializableRestaurantBook.java
  src/main/java/seedu/restaurant/storage/elements/XmlAdaptedReservation.java
  src/main/java/seedu/restaurant/ui/reservation/ReservationCard.java
  src/main/java/seedu/restaurant/ui/reservation/ReservationListPanel.java
  src/test/java/seedu/restaurant/commons/events/ui/DisplayReservationListRequestEventTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/AddReservationCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/DeleteReservationCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/EditReservationCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/ListReservationsCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/ReservationCommandTestUtil.java
  src/test/java/seedu/restaurant/logic/commands/reservation/SelectReservationCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/reservation/SortReservationsCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/RestaurantBookParserTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/AddReservationCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/DeleteReservationCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/EditReservationCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/ReservationParserUtilTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/SelectReservationCommandParserTest.java
  src/test/java/seedu/restaurant/model/reservation/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/restaurant/model/reservation/NameTest.java
  src/test/java/seedu/restaurant/model/reservation/PaxTest.java
  src/test/java/seedu/restaurant/model/reservation/RemarkTest.java
  src/test/java/seedu/restaurant/model/reservation/UniqueReservationListTest.java
  src/test/java/seedu/restaurant/storage/XmlSerializableRestaurantBookTest.java
  src/test/java/seedu/restaurant/storage/reservation/XmlAdaptedReservationTest.java
  src/test/java/seedu/restaurant/testutil/RestaurantBookBuilder.java
  src/test/java/seedu/restaurant/testutil/TypicalRestaurantBook.java
  src/test/java/seedu/restaurant/testutil/reservation/EditReservationDescriptorBuilder.java
  src/test/java/seedu/restaurant/testutil/reservation/ReservationBuilder.java
  src/test/java/seedu/restaurant/testutil/reservation/ReservationUtil.java
  src/test/java/seedu/restaurant/testutil/reservation/TypicalReservations.java
  src/test/java/seedu/restaurant/ui/reservation/ReservationCardTest.java
Labels: priority.high, status.review

#229 v1.4: Fix errors in UG
  docs/UserGuide.adoc
Labels: component.docs, status.review

#213 v1.4 mass delete & delete by name
  docs/UserGuide.adoc
  src/main/java/seedu/restaurant/commons/core/Messages.java
  src/main/java/seedu/restaurant/logic/commands/menu/AddRequiredIngredientsCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DeleteItemByIndexCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DeleteItemByNameCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DiscountItemCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/RecipeItemCommand.java
  src/main/java/seedu/restaurant/logic/parser/RestaurantBookParser.java
  src/main/java/seedu/restaurant/logic/parser/menu/DeleteItemByIndexCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/menu/DeleteItemByNameCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/menu/DeleteItemCommandParser.java
  src/test/java/seedu/restaurant/logic/commands/menu/DeleteItemByIndexCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/menu/DeleteItemByNameCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/RestaurantBookParserTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/DeleteItemByIndexCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/DeleteItemByNameCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/DeleteItemCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/ItemParserUtilTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/SelectItemCommandParserTest.java
Labels: component.logic, status.review

#253 v1.4: Bug-fix/Ingredient names contain alphabet only
  src/main/java/seedu/restaurant/model/ingredient/IngredientName.java
  src/test/java/seedu/restaurant/model/ingredient/IngredientNameTest.java
Labels: component.logic, status.review

#252 v1.4: Bug-fix/Update ingredient name to be case-insensitive
  docs/UserGuide.adoc
  src/main/java/seedu/restaurant/model/ingredient/Ingredient.java
  src/test/java/seedu/restaurant/model/ingredient/IngredientTest.java
Labels: component.logic, status.review

#254 v1.4 Bug/item model
  docs/UserGuide.adoc
  src/main/java/seedu/restaurant/logic/commands/menu/SortMenuCommand.java
  src/main/java/seedu/restaurant/model/menu/Item.java
  src/main/java/seedu/restaurant/model/menu/Name.java
  src/main/java/seedu/restaurant/model/menu/Price.java
  src/test/java/seedu/restaurant/model/menu/ItemTest.java
  src/test/java/seedu/restaurant/model/menu/PriceTest.java
Labels: component.model, status.review, type.bug

#257 v1.4: Refactor stockup command to use stockup model interface
  src/main/java/seedu/restaurant/commons/core/Messages.java
  src/main/java/seedu/restaurant/commons/core/pair/StringPair.java
  src/main/java/seedu/restaurant/logic/commands/ingredient/StockUpCommand.java
  src/main/java/seedu/restaurant/logic/parser/ingredient/StockUpCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/util/ArgumentPairMultimap.java
  src/main/java/seedu/restaurant/logic/parser/util/ArgumentTokenizer.java
  src/main/java/seedu/restaurant/model/ingredient/IngredientName.java
  src/test/java/seedu/restaurant/logic/commands/ingredient/StockUpCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/ArgumentTokenizerTest.java
  src/test/java/seedu/restaurant/logic/parser/ingredient/StockUpCommandParserTest.java
  src/test/java/seedu/restaurant/testutil/ingredient/ChangeStockDescriptorBuilder.java
Labels: component.logic, status.review

#266 v1.4: Update DG
  docs/DeveloperGuide.adoc
  docs/diagrams/DisplaySalesSequenceDiagram.pptx
  docs/diagrams/DisplaySalesSequenceDiagramRef.pptx
  docs/images/DisplaySalesSequenceDiagram.png
  docs/images/DisplaySalesSequenceDiagramRef.png
Labels: component.docs, status.review, type.enhancement

#250 v1.4 Parse Date and Time separately for Reservations
  build.gradle
  docs/UserGuide.adoc
  src/main/java/seedu/restaurant/logic/commands/reservation/AddReservationCommand.java
  src/main/java/seedu/restaurant/logic/commands/reservation/EditReservationCommand.java
  src/main/java/seedu/restaurant/logic/parser/reservation/AddReservationCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/EditReservationCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/ReservationParserUtil.java
  src/main/java/seedu/restaurant/logic/parser/util/CliSyntax.java
  src/main/java/seedu/restaurant/model/ModelManager.java
  src/main/java/seedu/restaurant/model/RestaurantBook.java
  src/main/java/seedu/restaurant/model/reservation/Date.java
  src/main/java/seedu/restaurant/model/reservation/Reservation.java
  src/main/java/seedu/restaurant/model/reservation/Time.java
  src/main/java/seedu/restaurant/model/reservation/UniqueReservationList.java
  src/main/java/seedu/restaurant/storage/elements/XmlAdaptedReservation.java
  src/test/data/XmlSerializableRestaurantBookTest/duplicateReservationOnlyRestaurantBook.xml
  src/test/data/XmlSerializableRestaurantBookTest/invalidReservationOnlyRestaurantBook.xml
  src/test/java/seedu/restaurant/commons/events/ui/reservation/ReservationPanelSelectionChangedEventTest.java
  src/test/java/seedu/restaurant/logic/commands/CommandTestUtil.java
  src/test/java/seedu/restaurant/logic/parser/reservation/AddReservationCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/reservation/EditReservationCommandParserTest.java
  src/test/java/seedu/restaurant/model/ModelManagerTest.java
  src/test/java/seedu/restaurant/model/reservation/DateTest.java
  src/test/java/seedu/restaurant/model/reservation/TimeTest.java
  src/test/java/seedu/restaurant/storage/reservation/XmlAdaptedReservationTest.java
  src/test/java/seedu/restaurant/testutil/reservation/EditReservationDescriptorBuilder.java
  src/test/java/seedu/restaurant/testutil/reservation/ReservationBuilder.java
  src/test/java/seedu/restaurant/testutil/reservation/ReservationUtil.java
  src/test/java/seedu/restaurant/testutil/reservation/TypicalReservations.java
Labels: status.review, type.enhancement

#262 v1.4: Command/select-ingredient
  src/main/java/seedu/restaurant/commons/events/ui/ingredient/JumpToIngredientListRequestEvent.java
  src/main/java/seedu/restaurant/logic/commands/ingredient/SelectIngredientCommand.java
  src/main/java/seedu/restaurant/logic/parser/RestaurantBookParser.java
  src/main/java/seedu/restaurant/logic/parser/ingredient/SelectIngredientCommandParser.java
  src/main/java/seedu/restaurant/ui/MainWindow.java
  src/main/java/seedu/restaurant/ui/ingredient/IngredientCard.java
  src/main/java/seedu/restaurant/ui/ingredient/IngredientListPanel.java
  src/main/java/seedu/restaurant/ui/ingredient/IngredientStackPanel.java
  src/main/resources/css/DarkTheme.css
  src/main/resources/view/IngredientStackPanel.fxml
  src/test/java/guitests/guihandles/ingredient/IngredientCardHandle.java
  src/test/java/guitests/guihandles/ingredient/IngredientStackPanelHandle.java
  src/test/java/seedu/restaurant/logic/commands/ingredient/SelectIngredientCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/RestaurantBookParserTest.java
  src/test/java/seedu/restaurant/logic/parser/ingredient/SelectIngredientCommandParserTest.java
  src/test/java/seedu/restaurant/ui/ingredient/IngredientCardTest.java
  src/test/java/seedu/restaurant/ui/ingredient/IngredientStackPanelTest.java
  src/test/java/seedu/restaurant/ui/testutil/GuiTestAssert.java
Labels: status.review

#270 docs/team: Add link to RepoSense
  docs/team/azhikai.adoc
  docs/team/hyperionnkj.adoc
  docs/team/m4dkip.adoc
  docs/team/rebstan97.adoc
  docs/team/yican95.adoc
Labels: component.docs, status.review

#273 v1.4 Add test for today special
  src/main/java/seedu/restaurant/logic/commands/menu/TodaySpecialCommand.java
  src/main/java/seedu/restaurant/logic/parser/RestaurantBookParser.java
  src/test/java/seedu/restaurant/logic/commands/menu/TodaySpecialCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/DiscountItemCommandParserTest.java
Labels: status.review

#272 Update to reflect actual product interface
  docs/images/Ui.png
Labels: component.docs, status.review

#276 v1.4 Add new tests for ReservationParserUtil
  src/test/java/seedu/restaurant/logic/parser/reservation/ReservationParserUtilTest.java
Labels: component.logic, status.review

#267 v1.4: Select account command and UG/DG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/UsingGit.adoc
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/UserInterfaceHighlight.pptx
  docs/images/SDforDeleteItem.png
  docs/images/SDforDeleteItemEventHandling.png
  docs/images/SDforDeletePerson.png
  docs/images/SDforDeletePersonEventHandling.png
  docs/images/UserInterfaceHighlight.png
  docs/team/azhikai.adoc
  src/main/java/seedu/restaurant/MainApp.java
  src/main/java/seedu/restaurant/commons/core/Messages.java
  src/main/java/seedu/restaurant/commons/events/ui/accounts/JumpToAccountListRequestEvent.java
  src/main/java/seedu/restaurant/logic/commands/ClearCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/ChangePasswordCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/ListAccountsCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/RegisterCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/SelectAccountCommand.java
  src/main/java/seedu/restaurant/logic/parser/RestaurantBookParser.java
  src/main/java/seedu/restaurant/logic/parser/account/AccountParserUtil.java
  src/main/java/seedu/restaurant/logic/parser/account/DeregisterCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/account/RegisterCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/account/SelectAccountCommandParser.java
  src/main/java/seedu/restaurant/logic/parser/reservation/ReservationParserUtil.java
  src/main/java/seedu/restaurant/model/account/Account.java
  src/main/java/seedu/restaurant/model/account/AccountContainsKeywordsPredicate.java
  src/main/java/seedu/restaurant/model/account/Name.java
  src/main/java/seedu/restaurant/model/util/SampleDataUtil.java
  src/main/java/seedu/restaurant/storage/elements/XmlAdaptedAccount.java
  src/main/java/seedu/restaurant/ui/MainWindow.java
  src/main/java/seedu/restaurant/ui/account/AccountCard.java
  src/main/java/seedu/restaurant/ui/account/AccountListPanel.java
  src/main/resources/view/AccountListCard.fxml
  src/main/resources/view/AccountListPanel.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/data/XmlSerializableRestaurantBookTest/duplicateAccountOnlyRestaurantBook.xml
  src/test/data/XmlSerializableRestaurantBookTest/duplicateAccountRestaurantBook.xml
  src/test/data/XmlSerializableRestaurantBookTest/invalidAccountOnlyRestaurantBook.xml
  src/test/data/XmlSerializableRestaurantBookTest/typicalRestaurantBook.xml
  src/test/java/guitests/guihandles/accounts/AccountListPanelHandle.java
  src/test/java/seedu/restaurant/commons/events/ui/account/JumpToAccountListRequestEventTest.java
  src/test/java/seedu/restaurant/logic/LogicManagerTest.java
  src/test/java/seedu/restaurant/logic/commands/CommandTestUtil.java
  src/test/java/seedu/restaurant/logic/commands/account/ListAccountCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/account/LogoutCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/account/RegisterCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/account/SelectAccountCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/RestaurantBookParserTest.java
  src/test/java/seedu/restaurant/logic/parser/account/AccountParserUtilTest.java
  src/test/java/seedu/restaurant/logic/parser/account/RegisterCommandParserTest.java
  src/test/java/seedu/restaurant/logic/parser/account/SelectAccountCommandParserTest.java
  src/test/java/seedu/restaurant/model/account/AccountContainsKeywordsPredicateTest.java
  src/test/java/seedu/restaurant/model/account/AccountTest.java
  src/test/java/seedu/restaurant/storage/XmlSerializableRestaurantBookTest.java
  src/test/java/seedu/restaurant/storage/account/XmlAdaptedAccountTest.java
  src/test/java/seedu/restaurant/testutil/account/AccountBuilder.java
  src/test/java/seedu/restaurant/testutil/account/TypicalAccounts.java
  src/test/java/seedu/restaurant/ui/account/AccountCardTest.java
  src/test/java/seedu/restaurant/ui/account/AccountListPanelTest.java
Labels: component.docs, component.logic, component.ui, status.review

#279 Docs/ugdg
  docs/images/DeleteIngredientByIndexSequenceDiagram.png
  docs/images/DeleteIngredientByNameSequenceDiagram.png
Labels: component.docs, status.review

#281 LogicManager: Update subset of menu commands as guest commands
  src/main/java/seedu/restaurant/logic/LogicManager.java
Labels: component.docs, status.review

#280 Update AddressBook to RestaurantBook in UndoRedo images
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/UndoRedoActivityDiagram.pptx
  docs/diagrams/UndoRedoExecuteUndoStateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand1StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand2StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand3StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand4StateListDiagram.pptx
  docs/diagrams/UndoRedoSequenceDiagram.pptx
  docs/diagrams/UndoRedoStartingStateListDiagram.pptx
  docs/images/UndoRedoActivityDiagram.png
  docs/images/UndoRedoExecuteUndoStateListDiagram.png
  docs/images/UndoRedoNewCommand1StateListDiagram.png
  docs/images/UndoRedoNewCommand2StateListDiagram.png
  docs/images/UndoRedoNewCommand3StateListDiagram.png
  docs/images/UndoRedoNewCommand4StateListDiagram.png
  docs/images/UndoRedoSequenceDiagram.png
  docs/images/UndoRedoStartingStateListDiagram.png
Labels: component.docs, status.review

#284 Update README and DG
  README.adoc
  docs/DeveloperGuide.adoc
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/images/UiClassDiagram.png
  src/main/java/seedu/restaurant/ui/MainWindow.java
  src/main/resources/view/MainWindow.fxml
Labels: component.docs, status.review

#287 Fix detail panel not showing when previously selected record/ingredient is selected again
  src/main/java/seedu/restaurant/ui/ingredient/IngredientListPanel.java
  src/main/java/seedu/restaurant/ui/sales/RecordListPanel.java
  src/main/resources/view/IngredientListPanel.fxml
  src/main/resources/view/RecordListPanel.fxml
  src/test/java/guitests/guihandles/sales/RecordCardHandle.java
  src/test/java/guitests/guihandles/sales/RecordListPanelHandle.java
  src/test/java/seedu/restaurant/ui/sales/RecordListPanelTest.java
Labels: status.review, type.bug

#292 v1.4: Find account
  docs/UserGuide.adoc
  src/main/java/seedu/restaurant/commons/util/StringUtil.java
  src/main/java/seedu/restaurant/logic/commands/HelpCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/FindAccountCommand.java
  src/main/java/seedu/restaurant/logic/parser/RestaurantBookParser.java
  src/main/java/seedu/restaurant/logic/parser/account/FindAccountCommandParser.java
  src/main/java/seedu/restaurant/model/account/AccountContainsKeywordsPredicate.java
  src/main/java/seedu/restaurant/model/account/UsernameContainsKeywordPredicate.java
  src/test/java/seedu/restaurant/logic/commands/CommandTestUtil.java
  src/test/java/seedu/restaurant/logic/commands/account/FindAccountCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/RestaurantBookParserTest.java
  src/test/java/seedu/restaurant/logic/parser/account/FindAccountCommandParserTest.java
  src/test/java/seedu/restaurant/model/account/AccountContainsKeywordsPredicateTest.java
  src/test/java/seedu/restaurant/model/account/UsernameContainsKeywordPredicateTest.java
Labels: status.review

#285 v1.4 Update UG, DG, PPP
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/AddReservationActivityDiagram.pptx
  docs/diagrams/ListReservationsSequenceDiagram.pptx
  docs/diagrams/ModelComponentClassBetterOopDiagram.pptx
  docs/images/AddReservationActivityDiagram.png
  docs/images/ListReservationsSequenceDiagram.png
  docs/images/ModelClassBetterOopDiagram.png
  docs/team/m4dkip.adoc
  src/main/java/seedu/restaurant/model/reservation/Remark.java
Labels: component.docs, status.review

#296 Hotfix: Include sample data for PE and PD
  src/main/java/seedu/restaurant/logic/commands/ClearCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/FindAccountCommand.java
  src/main/java/seedu/restaurant/logic/commands/account/SelectAccountCommand.java
  src/main/java/seedu/restaurant/model/reservation/Remark.java
  src/main/java/seedu/restaurant/model/util/SampleDataUtil.java
  src/main/java/seedu/restaurant/storage/elements/XmlAdaptedReservation.java
  src/main/java/seedu/restaurant/ui/reservation/ReservationCard.java
  src/test/java/seedu/restaurant/commons/events/model/RestaurantBookChangedEventTest.java
  src/test/java/seedu/restaurant/logic/commands/ClearCommandTest.java
  src/test/java/seedu/restaurant/model/reservation/RemarkTest.java
  src/test/java/seedu/restaurant/testutil/menu/ItemBuilder.java
  src/test/java/seedu/restaurant/ui/testutil/GuiTestAssert.java
  src/test/java/systemtests/ClearCommandSystemTest.java
Labels: status.review

#282 v1.4 Minor fix and update PPP, UG & DG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/DiscountItemActivityDiagram.pptx
  docs/diagrams/SortMenuSequenceDiagram.pptx
  docs/images/DiscountItemActivityDiagram.png
  docs/images/SortMenuActivityDiagram.png
  docs/images/SortMenuSequenceDiagram.png
  docs/team/yican95.adoc
  src/main/java/seedu/restaurant/logic/commands/menu/AddItemCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/AddRequiredIngredientsCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DeleteItemByIndexCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DeleteItemByNameCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/DiscountItemCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/EditItemCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/FilterMenuCommand.java
  src/main/java/seedu/restaurant/logic/commands/menu/RecipeItemCommand.java
  src/main/java/seedu/restaurant/logic/parser/menu/FilterMenuCommandParser.java
  src/main/java/seedu/restaurant/model/menu/Name.java
  src/main/java/seedu/restaurant/model/menu/Price.java
  src/test/java/seedu/restaurant/logic/commands/menu/DeleteItemByNameCommandTest.java
  src/test/java/seedu/restaurant/logic/commands/menu/DiscountItemCommandTest.java
  src/test/java/seedu/restaurant/logic/parser/menu/FilterMenuCommandParserTest.java
Labels: component.docs, status.ongoing

#290 Update PPP and UGDG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/StockUpActivityDiagram.png
  docs/images/DeleteIngredientByIndexSequenceDiagram.png
  docs/images/DeleteIngredientByNameSequenceDiagram.png
  docs/images/StockUpActivityDiagram.png
  docs/team/rebstan97.adoc
Labels: component.docs, status.ongoing

#294 v1.4: Update UG, DG, PPP
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/account.png
  docs/images/ingredient.png
  docs/images/menu.png
  docs/images/reservation.png
  docs/images/sales.png
  docs/team/hyperionnkj.adoc
  src/main/java/seedu/restaurant/logic/commands/sales/DeleteSalesCommand.java
  src/main/java/seedu/restaurant/logic/commands/sales/EditSalesCommand.java
  src/main/java/seedu/restaurant/logic/commands/sales/RecordSalesCommand.java
  src/main/java/seedu/restaurant/model/util/SampleDataUtil.java
Labels: component.docs, status.ongoing

#297 v1.4 Update UG & DG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/yican95.adoc
  src/main/java/seedu/restaurant/model/util/SampleDataUtil.java
Labels: component.docs

#291 Update UG/DG and PPP
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/LoginSequenceDiagram.pptx
  docs/diagrams/ModelComponentClassBetterOopDiagram.pptx
  docs/diagrams/PasswordActivityDiagram.pptx
  docs/diagrams/PasswordHashActivityDiagram.pptx
  docs/diagrams/RegisterSequenceDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/diagrams/UserSessionActivityDiagram.pptx
  docs/images/LoginSequenceDiagram.png
  docs/images/ModelClassBetterOopDiagram.png
  docs/images/PasswordHashActivityDiagram.png
  docs/images/PasswordLoginActivityDiagram.png
  docs/images/RegisterSequenceDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UserSessionActivityDiagram.png
  docs/team/azhikai.adoc
  docs/team/hyperionnkj.adoc
Labels: component.docs, status.ongoing
